#show-number{
    width: 50%;
    height: 15vh;
    /* DEBUG */
    background-color: blue;
    color: white;
}

.hidden{
    display: none;
}

#text{
    background-color: blue;
    color: white;
}

#output{
    background-color: blue;
    color: white;
    width: 100%;
}